.kshop-w-product-details
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: stretch

    &-title
        //background-color: #e09999
        flex-basis: 40px
        font-weight: 700
        font-size: 20px

    &-topbar
        background-color: #e0e6e0
        flex-basis: 30px
        display: flex
        flex-flow: column wrap
        align-items: flex-end

    &-flex
        display: flex
        flex-flow: row wrap
        justify-content: stretch
        //flex-basis: 400px

        @media ( max-width: 800px )
            flex-flow: column nowrap
            
    &-galery

        border: 1px solid #dedede

        background-color: #ffffff
        order: 1
        flex-basis: 200px
        flex-grow: 1

        display: flex
        flex-flow: column nowrap
        align-items: center
        justify-content: center

        padding: 20px 5px

        img
            width: clamp(100px, 80%, 400px)

    &-price
        // border: [border-width || border-style || border-color] | inherit
        //border: 1px solid red
        background-color: #ffffff

        flex-basis: 50px
        flex-grow: 1
        order: 3

        display: flex
        flex-flow: column nowrap
        align-items: center
        justify-content: flex-start

        padding: 15px 5px

        &-original
            font-size: 20px
            font-weight: 800
            
    
    &-info
        order: 2
        flex-grow: 1
        flex-basis: 200px

        display: flex
        flex-flow: column nowrap
        

        &-attributes
            background-color: #f1f0f5
            order: 1
            // flex-basis: 200px
            // flex-grow: 1

            display: flex
            flex-flow: column nowrap
            align-items: stretch
            justify-content: flex-start

            padding: 5px 10px

            &-row
                display: flex
                flex-flow: row nowrap
                justify-content: space-between
                line-height: 30px

                font-weight: 500

        &-description
            background-color: #f0eff1
            // flex-basis: 200px
            // flex-grow: 1
            order: 2

            padding: 5px 10px
            